name: reuseable workflow
on:
  workflow_call:
    inputs:
      artifact-name:
        description: The name of deployed artifact file
        required: false
        default: dist
        type: string
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.artifact-name }}
      - name: List files
        run: ls
      - name: Output information
        run: echo "deploying ...."
